.form-control:focus, .btn:focus {
    outline: none !important;
    box-shadow: none !important;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#main-row {
    flex-grow: 1;
    overflow-y: hidden;
    margin: 75px 0 0;
}

#conversations-column {
    border-right: 1px solid lightgray;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
}

#conversations-column-header {
    padding: 10px
}

#conversations-search {
}

.conversations-list {
    flex-grow: 1;
    overflow-y: auto;
}

.conversation-item {
    cursor: pointer;
    display: flex;
    flex-direction: row;
}

.conversation-item img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid gray;
    margin-right: 10px;
}

.conversation-item .content {
    flex-grow: 1;
}

.conversation-item .content .header h5 {
    margin-bottom: 5px;
}

.conversation-item .content p {
    margin-bottom: 5px;
}

#chat-column {
    display: flex;
    height: 100%;
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
}

#chat-show-conversations {
    border-bottom: 1px solid lightgray;
}

#chat-show-conversations button {
    margin: 10px;
    width: 100%;
}

.navbar-brand {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
}

#chat-header-avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid gray;
    margin-right: 10px;
}

#chat-header {
    /* bottom shadow of a navbar */
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

#chat {
    flex-grow: 1;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: auto;
}

.chat-time-label {
    text-align: center;
    font-size: 0.8em;
    color: gray;
    margin-top: 10px;
    margin-bottom: 10px;
}

#messages-wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#chat .alert {
    width: 80%;
    align-self: center;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    padding: 5px;
}

#chat .alert p {
    margin-bottom: 0;
}

.message-wrapper {
    display: flex;
    flex-direction: row;
    margin: 10px;
    max-width: 80%;
}

.message-wrapper.theirs {
    align-self: flex-start;
}

.message-wrapper.ours {
    align-self: flex-end;
}


.message {
    border-radius: 5px;
    padding: 10px;
}

.message.theirs {
    background-color: #f0f0f0;
}

.message.ours {
    background-color: #e6f7ff;
}


.message-avatar {
    padding-right: 10px;
}

.message-avatar img {
    border: 1px solid gray;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.message-content p {
    margin-bottom: 5px;
    word-break: break-word;
}

.message-time {
    font-size: 0.8em;
    color: gray;
}

#chat-input {
    box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.1);
    padding: 10px;
}
